<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        bootstrap="PhpSlim/autoload.php"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <php>
        <ini name="memory_limit" value="3G" />
    </php>

    <coverage>
        <report>
            <clover outputFile="coverage-report/clover.xml"/>
            <html outputDirectory="coverage-report/html"/>
            <text outputFile="coverage-report/coverage.txt" showUncoveredFiles="true"/>
            <xml outputDirectory="coverage-report/xml"/>
        </report>
    </coverage>
</phpunit>